# --- MOTEUR ANTHROPIC (Claude 4.6) ---
ANTHROPIC_API_KEY=votre_cle
# On passe sur le nouveau standard 2026
ANTHROPIC_MODEL=claude-sonnet-4-6 

# --- MOTEUR GOOGLE (Gemini 3.1) ---
GOOGLE_API_KEY=votre cle
# On migre vers 3.1 Flash pour éviter l'arrêt du service
#gemini-2.0-flash -> 1500 req/jour free tier, multimodal, rapide.
#gemini-2.5-flash-lite -> Quota plus généreux que 2.5-flash.
#gemini-2.5-flash -> 50 req/jour seulement : réservé aux images difficiles.
GEMINI_MODEL=gemini-2.5-flash-lite 

# --- CONFIGURATION SYSTÈME ---
DRY_RUN=false
# Option V1.8 : Sécurité Pillow
PILLOW_INTERPOLATION_QUALITY=HIGH